<div id="products">
    {{#each products}}
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p>Su codigo es {{this.code}}, vale ${{this.price}} y hay {{this.stock}} en stock</p>
    {{/each}}
</div>

